.posts .post {
    flex-direction:column;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    border-radius: 5px;
    color: black;
}

.posts .post_summary{
    width: 550px;
    font-size: 16px;
}

.posts .post_date{
    width: 100px;
    height: 16px;
    margin:0px 0px 0px 440px;
    padding:5px 5px 0px 5px;
    font-size: 16px;
    left:70%;
}

.posts .post_title {
    padding: 0px 0px 5px 0px;
    width: 500px;
    height: 25px;
    font-weight: 300;
    color: #333333;
    font-size: 20px;
}

.posts hr {
    width: 550px;
}