.posts .post {
    flex-direction:column;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    border-radius: 5px;
    color: black;
}

.post .post_summary{
    width: 550px;
    height: 68px;
    margin-bottom: 16px;
    font-size: 16px;
}

.post .post_title {
    padding: 10px 0;
    width: 300px;
    height: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}

.post hr {
    width: 650px;
}