.Mains {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 19% 62% 19%;
}

#Mains-left { border-right: solid 1px #aabbaa; }
#Mains-right { border-left: solid 1px #aabbaa; }

.post_da {
    padding: 20px;
}

.post_da div {
    margin-top: 20px;
    margin-left: 20px;
}

#post_title {
    width: 91%;
    margin: 0 auto 0 auto;
    height: 40px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#post_title:focus { outline : none; }

#post_summary {
    line-height: 30px;
    width: 94%;
    margin: 0 auto 0 auto;
    padding-left: 30px;
    padding-right: 5px;
    resize: none;
    border: none;
}

#post_info {
    display: flex;
    margin: 0 0 10px 0;
    padding: 0 0 0 32px;
    color: dimgray;
}

#post_date_username {
    justify-content: flex-start;
    width: 550px;
}

#post_date {
    margin-right: 10px;
}

#post_username {
    margin-left: 10px;
}

#post_button {
    justify-content: flex-end;
}

button {
    border: none;
    background: none;
    color: inherit;
}

button:focus {
    outline:0;
}


#edit_button, #edit_button a {
    margin-right: 10px;
}


#delete_button {
    margin-left: 10px;
}

a {
    color: dimgray;
}

div {
    white-space: pre-wrap;
}

#post_summary:focus { outline : none; }