.card_list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    padding: 15px 0 15px 0;
    margin: 0 12px 0 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    height: 150px;
    width: 130px;
    hr {
        width: 70px;
        margin:6px;
    }

    a, a:hover {
        color: dimgrey;
    }
}

.card_button{
    width: 130px;
}

.post_title {
    margin: 0 auto 0 auto;
    width: 100px;
    overflow: hidden;
    height:36px;
    font-weight: bold;
}

.post_summary {
    font-size: 15px;
    width: 110px;
    height:58px;
    overflow: hidden;
    margin:0px;
    padding-left:0px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

