.topMenu {
  display: flex;
  position: sticky;
  top: 5vh;
  margin-top: 30px;
  .left {
    flex-grow: 8;
  }
  .right {
    flex-grow: 0.3;
  }
  span, a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: dimgray;
    margin: 0 15px 0 15px;
  }
}