.keyword{
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  display:block;
  h3 {
    font-size: 20px;
  }
  .keywords_list {
    font-size: 20px;
    a {
      margin-left: 5px;
      color: black;
    }
  }
}
