.registerlogo{
    font-size: 26px;
    width:400px; height:60px;
    position:fixed;
    top:30%; left:50%;
    margin-left:-100px;
    margin-top:-40px;
    padding:0px;
    color: rgb(90, 85, 85);
}

#rusername,#ruserID, #rpassword{
    width:396px; height:44px;
}

.labelname{
    font-size: 20pt;
}

.form-groupA{
    position:absolute;
    top:35%;
    left:50%;
    margin-left:-200px;
    margin-top:-23px;
    padding:0px;

}
.form-groupB{
    position:absolute;
    top:48%;
    left:50%;
    margin-left:-200px;
    margin-top:-23px;
    padding:0px;
}
.form-groupC{
    position:absolute;
    top:61%;
    left:50%;
    margin-left:-200px;
    margin-top:-23px;
    padding:0px;
}

#rsubmit{
    width:400px; height:60px; position:absolute;
    top:73%; left:50%; margin-left:-200px; padding:0px;
    background-color: rgb(90, 85, 85);
    width:400px;
    height:60px;
    color: white;
}